.rainContainer {
  position: absolute;
  top: -30px;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  overflow: hidden;
  will-change: contents;
  z-index: 0;
}

.rainContainerFullpage {
  position: absolute;
  top: -30px;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  pointer-events: none;
  overflow: hidden;
  will-change: contents;
}

.drip,
.dripFullpage {
  will-change: transform;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
}

.drip {
  width: 200px;
  height: 250px;
  position: absolute;
}

.dripFullpage {
  width: 200px;
  height: 65vh;
  position: absolute;
}

.dripFullpage:before {
  position: absolute;
  content: '';
  width: 15px;
  height: 15px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  opacity: 0;
  animation: dripFullpage 4s ease infinite;
}

.dripFullpage:after {
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  width: 0px;
  height: 0px;
  border: solid 4px rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  opacity: 0;
  animation: splashFullpage 4s ease infinite;
}

@keyframes dripFullpage {
  10% {
    top: 0;
    opacity: .99;
    animation-timing-function: cubic-bezier(0.24, 0, 0.76, 0.14);
  }

  25% {
    opacity: .99;
    top: 58vh;
    animation-timing-function: ease-out;
    width: 15px;
    height: 15px;
    left: 92.5px;
  }

  30% {
    opacity: .99;
    top: 40vh;
    width: 5px;
    height: 5px;
    animation-timing-function: ease-in;
    left: 97.5px;
  }

  33% {
    top: 65vh;
    opacity: 0;
    animation-timing-function: ease-out;
    left: 97.5px;
  }

  33.001% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

@keyframes splashFullpage {
  0% {
    opacity: 0;
  }

  25% {
    bottom: 50px;
    left: 100px;
    opacity: 0;
    width: 0px;
    height: 0px;
  }

  25.001% {
    opacity: 0.4;
  }

  33% {
    bottom: 0;
    left: 0;
    opacity: 0;
    width: 200px;
    height: 100px;
  }

  33.001% {
    bottom: 50px;
    left: 100px;
    opacity: 0.6;
    width: 0px;
    height: 0px;
  }

  43% {
    bottom: 0;
    left: 0;
    opacity: 0;
    width: 200px;
    height: 100px;
  }

  43.001% {
    opacity: 0;
  }
}

.drip:before {
  position: absolute;
  content: '';
  width: 15px;
  height: 15px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  opacity: 0;
  animation: drip 4s ease infinite;
}

.drip:after {
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  width: 0px;
  height: 0px;
  border: solid 4px rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  opacity: 0;
  animation: splash 4s ease infinite;
}

@keyframes drip {
  10% {
    top: 0;
    opacity: .99;
    animation-timing-function: cubic-bezier(0.24, 0, 0.76, 0.14);
  }

  25% {
    opacity: .99;
    top: 200px;
    animation-timing-function: ease-out;
    width: 15px;
    height: 15px;
    left: 92.5px;
  }

  30% {
    opacity: .99;
    top: 160px;
    width: 5px;
    height: 5px;
    animation-timing-function: ease-in;
    left: 97.5px;
  }

  33% {
    top: 200px;
    opacity: 0;
    animation-timing-function: ease-out;
    left: 97.5px;
  }

  33.001% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

@keyframes splash {
  0% {
    opacity: 0;
  }

  25% {
    bottom: 50px;
    left: 100px;
    opacity: 0;
    width: 0px;
    height: 0px;
  }

  25.001% {
    opacity: 0.4;
  }

  33% {
    bottom: 0;
    left: 0;
    opacity: 0;
    width: 200px;
    height: 100px;
  }

  33.001% {
    bottom: 50px;
    left: 100px;
    opacity: 0.6;
    width: 0px;
    height: 0px;
  }

  43% {
    bottom: 0;
    left: 0;
    opacity: 0;
    width: 200px;
    height: 100px;
  }

  43.001% {
    opacity: 0;
  }
}