.logoutButton {
  border: 0;
  outline: 0;
  background: 0;
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}

:global(.dark-content) .logoutButton {
  color: #fff;

  &:hover {
    color: #00a3bb;
  }
}

:global(.light-content) .logoutButton {
  color: #000;

  &:hover {
    color: #00a3bb;
  }
}