.videoContainer {
  position: relative;
  display: inline-block;
  width: 100%;
  z-index: 1;
}

.videoElement {
  width: auto;
  max-width: 75vw;
  height: auto;
}

.videoPlayButton {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
  margin: auto;
  box-sizing: content-box;
  display: block;
  width: 32px;
  height: 44px;
  border: none;
  border-radius: 50%;
  padding: 18px 20px 18px 28px;
  cursor: pointer;
}

.videoPlayButton:before {
  content: "";
  position: absolute;
  z-index: 0;
  inset: 0;
  margin: auto;
  display: block;
  width: 80px;
  height: 80px;
  background: linear-gradient(45deg, rgba(129, 129, 129, 0.9) 15%, rgba(255, 255, 255, 0.95) 70%);
  border-radius: 50%;
  animation: pulse-border 1500ms ease-out infinite;
}

.videoPlayButton:after {
  content: "";
  position: absolute;
  z-index: 1;
  inset: 0;
  margin: auto;
  display: block;
  width: 80px;
  height: 80px;
  background: linear-gradient(45deg, #535353 15%, rgb(255, 255, 255) 70%);
  border-radius: 50%;
  transition: all 200ms;
  box-shadow: 0 2px 7px #000000;
}

.videoPlayButton:hover:after {
  background-color: #535353;
}

.videoPlayButton span {
  display: block;
  position: relative;
  z-index: 3;
  width: 0;
  height: 0;
  border-left: 30px solid #222;
  border-top: 18px solid transparent;
  border-bottom: 18px solid transparent;
  border-radius: 4px;
}

@keyframes pulse-border {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  100% {
    transform: scale(1.75);
    opacity: 0;
  }
}