@keyframes bounce {
  0% {
    transform: scale(1, 1) translate(0px, 0px);
  }

  30% {
    transform: scale(1, 0.8) translate(0px, 10px);
  }

  75% {
    transform: scale(1, 1.1) translate(0px, -25px);
  }

  100% {
    transform: scale(1, 1) translate(0px, 0px);
  }
}

.button {
  background: 0;
  border: 1px solid #eee;
  border-radius: 32px;
  color: #eee;
  font-family: 'Poppins';
  font-size: 12px;
  font-weight: 400;
  height: 48px;
  outline: 0;
  display: flex;
  padding: 8px 20px;
  place-content: center;
  place-items: center;
  animation: bounce 0.75s 1;

  &::after {
    content: 'Read aloud (beta)';
  }

  &.speaking::after {
    content: 'Stop reading';
  }

  &:hover {
    background: #222;
  }

  & svg {
    cursor: pointer;
    fill: #fff;
  }
}

.mute .circle_lg {
  stroke-dashoffset: -1360px;
}

.mute .circle_sm {
  opacity: 0;
}

.circle_lg {
  stroke-dasharray: 600px 1500px;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0s;
}

.circle_sm {
  opacity: 1;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0s;
}