body.page-is-transitioning #main-content {
  opacity: 0;
  pointer-events: none;
  /* Ensure no interaction during transition */
  transition: opacity 0.5s ease 0.8s;
  /* Delay fade-in to follow preloader fade-out */
}

#main-content {
  opacity: 1;
  pointer-events: all;
  transition: opacity 0.5s ease;
}

/* Hide content during preloader */
#main-content.hidden {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease;
}

/* Show content after transition */
#main-content.visible {
  opacity: 1;
  pointer-events: all;
  transition: opacity 0.5s ease 0.5s;
  /* Delayed fade-in */
}