.slicedText {
  color: #fff !important;
  font-size: 2.7ch !important;
  font-weight: 900 !important;
  /* color: transparent !important;
  font-size: clamp(24px, 2.3ch, 45px) !important;
  font-weight: 900 !important;
  line-height: 1.2;
  margin: 0;
  width: max-content;
  text-transform: uppercase;
  background: linear-gradient(187deg,
      var(--color-1) 20%,
      transparent 40%, transparent 40%,
      var(--color-2) 45%, var(--color-2) 57%,
      transparent 53%, transparent 50%,
      var(--color-3) 90%, var(--color-3) 83%,
      transparent 80%, transparent 60%,
      var(--color-4) 90%, var(--color-4) 50%,
      transparent 50%, transparent 90%,
      var(--color-5) 100%);
  background-clip: text;
  -webkit-background-clip: text;  user-select: none; */
  line-height: normal;
  position: relative;
  background: linear-gradient(-10deg, #545454 0%, #ffffff 38%, #ffffff 76%, #b9b9b9 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

h1:after {
  background: none;
  content: attr(data-text);
  left: 0;
  position: absolute;
  text-shadow: 0px -1px #d6d5cd, 0px 1px 1px #fce494;
  top: 0;
  z-index: -1;
}


h1:before {
  background: url(https://i.stack.imgur.com/8Jeyb.png);
  content: attr(data-text);
  left: 0;
  opacity: 0.35;
  position: absolute;
  top: 0;
  z-index: 1;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}