.scroll {
  align-items: flex-end;
  display: grid;
  justify-content: center;
  left: 50%;
  height: 80px;
  place-self: center;
  position: absolute;
  transform: translateX(-50%);
  width: 190px;
  z-index: 100;
}

.scroll::after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 29px;
  height: 50px;
  transform: translate(-50%, 0);
  border: 1px solid rgba(255, 255, 255, .2);
  border-radius: 30px;
}

.scroll::before {
  content: "";
  position: absolute;
  top: 25px;
  left: 50%;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  transform: translate(-50%, 0);
  background-color: #fff;
  animation: ani-mouse 1.5s linear infinite;
}

@keyframes ani-mouse {
  0% {
    opacity: 1;
    top: 15px;
  }

  15% {
    opacity: 1;
    top: 25px;
  }

  50% {
    opacity: 0;
    top: 25px;
  }

  100% {
    opacity: 0;
    top: 15px;
  }
}

.scroll__text {
  margin: 0;
  text-transform: capitalize;
  font-weight: 400;
  font-size: 12px;
  text-align: center;
  color: #555;
  ;
}