.leadIn {
  background: black;
  margin-top: 48px;
  padding: 4vw;
  position: relative;
  z-index: 2;
  height: fit-content;
}

@keyframes slideIn {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0);
    opacity: .99;
  }
}

.titleWrapper {
  overflow: hidden;
  height: auto;
  position: relative;
  z-index: 2;
}

.heroTitle {
  color: #fff;
  font-size: calc(1rem + 5.15vw);
  font-weight: 500;
  line-height: calc(1rem + 5.5vw);
  position: relative;
}

.heroTitle div {
  overflow: hidden;
}

.heroTitle div span {
  display: block;
  opacity: 0;
  transform: translateY(100%);
  will-change: transform;
  animation: slideIn 0.2s forwards linear;
}

.heroKeyPoints li div {
  display: block;
  opacity: 0;
  transform: translateY(100%);
  will-change: transform;
  animation: slideIn 0.2s forwards .25s linear;
}

.heroKeyPoints li {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  list-style-type: none;
  overflow: hidden;
  padding-left: 50%;
  text-align: left;
}