.footer {
  backdrop-filter: blur(3px);
  background-color: rgba(0, 0, 0, .05);
  /* background-color: rgba(255, 255, 255, .05); */
  /* background-color: #26272ea6; */
  border-top: 1px solid rgba(255, 255, 255, .05);
  bottom: 0;
  left: 0;
  right: 0;
  transform: translateY(-60px);
  height: 60px;
  position: fixed;
  width: 100%;
  z-index: 201;
  visibility: hidden;
  animation: slideInFromBottom 0.5s ease-out 1.2s forwards;
}

:global(.lightmode) .footer {
  background-color: rgba(255, 255, 255, 0.19);
  border-top: 1px solid rgba(255, 255, 255, 0.25);
}

@keyframes slideInFromBottom {
  0% {
    visibility: hidden;
    transform: translateY(70px);
  }

  100% {
    visibility: visible;
    transform: translateY(0);
  }
}