.clientLayout {
  height: 100%;
  background-color: black;
}

.resumeBackgroundStyle {
  height: 100% !important;
}

.main {
  height: 100%;
  background-color: black;
}

.enter {
  animation: enterTransition 1s forwards;
}

.exit {
  animation: exitTransition 0.5s forwards;
  animation-delay: 0s;
}

@keyframes exitTransition {
  0% {
    opacity: 1;
    transform: scale(1);
  }

  100% {
    opacity: 0;
    transform: scale(.8);
  }
}

@keyframes enterTransition {
  0% {
    opacity: 0;
    transform: scale(.8);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}