.slowedPin {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  place-content: center;
}

.slowedText {
  position: absolute;
  height: auto;
  min-height: 100vh;
  width: 100%;
  max-width: 980px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  padding: 8vw 20px;
  z-index: 1;
  pointer-events: none;
  margin: auto;
  left: 0;
  right: 0;
  opacity: 0;
  /* Start with opacity 0 */
}

.slowedTextWrapper {
  position: relative;
  display: block;
}

.slowedImages {
  position: relative;
  top: 0;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  overflow: hidden;
  z-index: 0;
  margin: auto;
}

.slowedImage {
  position: relative;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  padding: 0 10px;
  margin: 150px 0;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

/* Alternating alignment for testimonials */
.alignLeft {
  align-items: flex-start;
}

.alignRight {
  align-items: flex-end;
}

.slowedImage img {
  width: auto;
  max-width: 40%;
  height: auto;
  display: block;
  cursor: pointer;
  margin-bottom: 10px;
  transform: scale(0.95) translateY(30%);
  transition: transform 0.2s ease;
}

.slowedImage img:hover {
  transform: scale(1);
}

.roundedBorders .slowedImage img {
  border-radius: 8px;
}