.header {
  height: 32px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  margin: 0 auto;
  padding: 8px 16px;
  place-items: center;
  z-index: 100;
  backdrop-filter: blur(4px);
}

:global(.dark-content) .header {
  border-bottom: 1px solid rgba(255, 255, 255, .12);
}

:global(.light-content) .header {
  border-bottom: 1px solid rgba(0, 0, 0, .05);
}