.audioLabelOverflow {
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
  color: grey;
}

.textScrollContainer {
  display: inline-block;
  animation: scrollText 9s linear infinite;
  transition: animation-play-state 0.5s;
  will-change: transform;
}

.textScrollContainer:hover {
  animation-play-state: paused;
}

@media screen and (min-width: 600px) {
  .textScrollContainer {
    animation: none;
    transform: none;
  }
}

@keyframes scrollText {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}