.neonText {
  color: rgb(255, 255, 255);
  display: grid;
  place-content: center;
  place-items: center;
  height: auto;
  font-family: 'neontubes';
  white-space: nowrap;
  z-index: 10;
  position: relative;
  margin: -20px 0 0px;
  margin-right: auto;
  min-height: 10vh;
  text-align: left;
  transform-style: preserve-3d;
  transform: perspective(5000px) rotateY(var(--rotateX)) rotateX(var(--rotateY));
  transition: 0.3s linear opacity;
  will-change: opacity;

  &.heroText {
    margin: 0;
    margin-top: 10px;
    place-items: baseline;
  }

  &.portfolioPieceTitle {
    margin-left: 20px;
  }

  & span {
    place-items: center;
    position: relative;
    transform: translateZ(0) translate3D(0, 0, 0);
    backface-visibility: hidden;
    will-change: opacity;
  }
}

.space {
  display: inline-block;
  width: 0.25em;
}

.goodbye {
  color: #aaa;
  transform: rotate(-1deg);
  text-shadow:
    0 0 0 transparent,
    0 0 10px rgba(255, 255, 255, 0.9);
  animation: blink 4s infinite alternate;
  position: relative;
  font-size: clamp(10px, 1.2vw, 56px);
  margin-right: auto;
}

.hello div,
.goodbye div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.hello {
  text-align: left;
  transform: rotate(1deg);
  color: white;
  text-shadow:
    0 0 0 transparent,
    /*0 5px 10px rgba(255, 255, 255, .85),*/
    0 0 10px white,
    0 0 20px rgba(255, 255, 255, 0.5),
    0 0 40px rgba(255, 255, 255, 1);
  /* 0 0 100px rgba(255, 255, 255, 1),
        0 0 200px rgba(255, 255, 255, 1); */
  animation: buzz 1s infinite alternate;
  font-size: clamp(32px, 96px, 8vw);
}

.shortOut {
  animation-name: blink;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes shortingOut {

  0%,
  100% {
    opacity: .9;
  }

  50% {
    opacity: 0;
  }
}

@keyframes buzz {
  70% {
    opacity: 0.8;
  }
}

@keyframes blink {
  40% {
    opacity: .9;
  }

  42% {
    opacity: 0.8;
  }

  43% {
    opacity: .9;
  }

  45% {
    opacity: 0.2;
  }

  46% {
    opacity: .9;
  }
}