.marqueeWrapper {
  overflow: hidden;
  position: relative;
  white-space: nowrap;
  margin-left: calc(50% - 50vw) !important;
  margin-right: calc(50% - 50vw) !important;
  max-width: 1000% !important;
  width: 100vw !important;
}

.marqueeText {
  font-size: calc(1rem + 4.15vw);
  line-height: calc(1rem + 4.5vw);
  font-weight: 500;
  display: inline-block;
  white-space: nowrap;
  color: #000;
  text-transform: uppercase;
  position: relative;
}


/* Light and Dark Section Styling */
:global(.light-section) .marqueeText,
:global(.light-content) .marqueeText {
  color: #000;
}

:global(.dark-section) .marqueeText,
:global(.dark-content) .marqueeText {
  color: #fff;
}

.marqueeText span {
  padding-right: 2vw;
  /* Adjust padding to prevent overlap */
}