#logo #logo-path {
  position: relative;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  will-change: transform;
}

#logo #logo-path:after {
  content: ' ';
  display: block;
  background: white;
  position: absolute;
  bottom: 0;
  right: 12px;
}