.heroTitle {
  font-size: calc(1rem + 5.15vw);
  line-height: calc(1rem + 5.5vw);
  font-weight: 500;
  position: relative;
  display: block;
  display: inline-block;
  vertical-align: top;
  width: auto;
  overflow: hidden;
  padding: 0;
  margin-bottom: 0;
  color: #000;
}