:global(.light-content) .logo svg {
  fill: black !important;
  filter: none;
  /* No shadow on light content */
}

:global(.dark-content) .logo svg {
  fill: white !important;
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.7));
  /* Shadow on dark content */
}

:global(.menu-open) .logo svg {
  fill: white !important;
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.7));
  /* Shadow when menu is open */
}

.logo {
  cursor: pointer;
  align-items: center;
  display: flex;
  position: relative;
  transition: opacity 0.15s ease-in-out;
  z-index: 9999;
}

.logo svg {
  height: auto;
  width: 25px;
  transition: opacity 0.15s ease-in-out;
}

.logoLink {
  display: block;
  transition: transform 0.5s ease-in-out;
}

.blackLogo {
  display: block;
  height: 50px;
  width: auto;
  fill: black;
  opacity: 1;
  /* Visible by default */
  transition: opacity 0.15s ease-in-out;
}

.whiteLogo {
  display: block;
  height: 50px;
  width: auto;
  fill: white;
  opacity: 0;
  /* Hidden by default */
  transition: opacity 0.15s ease-in-out;
}

.light-content .blackLogo {
  opacity: 0;
  /* Hide black logo in light content */
}

.light-content .whiteLogo {
  opacity: 1;
  /* Show white logo in light content */
}

.dark-content .blackLogo {
  opacity: 1;
  /* Show black logo in dark content */
}

.dark-content .whiteLogo {
  opacity: 0;
  /* Hide white logo in dark content */
}

.logoContainer {
  display: flex;
  align-items: center;
}

.goBackText {
  font-size: 16px;
  color: #00a3bb;
  cursor: pointer;
  transition: color 0.2s ease;
  margin-left: 8px;
  margin-top: 2px;
  text-decoration: underline;
}

.currentView {
  margin-left: 8px;
  margin-top: 2px;
  pointer-events: none;
  color: #ccc;
  transition: .3s linear color;

  &:hover {
    color: #fff;
    transition: .3s linear color;
  }
}

.goBackText:hover {
  color: #fff;
  transition: color 0.2s ease;
}