.revealGallery {
  position: relative;
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.revealImg {
  width: auto;
  height: auto;
  position: absolute;
  display: block;
  top: 0;
  left: auto;
  right: auto;
  margin: auto;
  z-index: 0;
  opacity: 0.95;
}

.revealImgFixed {
  width: 50%;
  max-width: 600px;
  position: relative;
  margin: 0 auto;
  z-index: 10;
}

.revealImg:first-child {
  left: 0;
  transform: rotate(-4deg);
}

.revealImg:last-child {
  right: 0;
  transform: rotate(4deg);
}

.revealGallery img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  position: relative;
  display: block;
  object-position: center;
  object-fit: contain;
  margin: auto;
}

.roundedBorders .revealGallery img {
  border-radius: 8px;
}